# 08 - Python Finance

**Capitulo 08**: Análise de empresas com Python, obtendo dados das empresas listadas na bolsa usando Python.

Realizar webscraping (raspagem de dados) e baixar os dados dos balanços das empresas disponíveis no site **fundamentus**.

Em seguida criar um ranking das melhores empresas segundo a da Magic Formula de **Joel Greenblatt**.

## **Configurações Iniciais**

## 1. Importando bibliotecas

In [1]:
import numpy as np
import pandas as pd
import string
import warnings
warnings.filterwarnings('ignore')

import requests

## 2. Obtendo e tratando os dados

In [2]:
url = 'http://www.fundamentus.com.br/resultado.php'

In [3]:
header = {
  "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.89 Safari/537.36"  
 }

r = requests.get(url, headers=header)

In [4]:
df = pd.read_html(r.text,  decimal=',', thousands='.')[0]

Exibindo dados

In [5]:
df

      Papel  Cotação      P/L  ...   Patrim. Líq  Dív.Brut/ Patrim. Cresc. Rec.5a
0     POPR4    10.17     0.00  ...  5.458030e+08               0.82        30,93%
1     VNET3     0.00     0.00  ...  9.490850e+09               0.00       -17,77%
2     PMET3     0.00     0.00  ... -2.908630e+08               0.00        37,74%
3    MRSA6B     0.00     0.00  ...  4.312820e+09               0.00         1,03%
4     CLAN3     0.00     0.00  ...  1.012240e+09               0.00       -63,96%
..      ...      ...      ...  ...           ...                ...           ...
936   LWSA3    23.00   682.15  ...  6.739730e+08               0.23        24,50%
937   PRBC4    14.54   808.37  ...  1.210880e+09               0.00        11,60%
938  UBBR11    14.75  1201.81  ...  1.031720e+10               0.00        10,58%
939   UBBR3    18.00  1466.61  ...  1.031720e+10               0.00        10,58%
940   DMVF3     8.97  3690.32  ...  8.361590e+08               0.16       -11,29%

[941 rows x 21 columns]

In [6]:
for coluna in ['Div.Yield', 'Mrg Ebit', 'Mrg. Líq.', 'ROIC', 'ROE', 'Cresc. Rec.5a']:
  df[coluna] = df[coluna].str.replace('.', '')
  df[coluna] = df[coluna].str.replace(',', '.')
  df[coluna] = df[coluna].str.rstrip('%').astype('float') / 100

Exibindo dados tratados

In [7]:
df

      Papel  Cotação      P/L  ...   Patrim. Líq  Dív.Brut/ Patrim.  Cresc. Rec.5a
0     POPR4    10.17     0.00  ...  5.458030e+08               0.82         0.3093
1     VNET3     0.00     0.00  ...  9.490850e+09               0.00        -0.1777
2     PMET3     0.00     0.00  ... -2.908630e+08               0.00         0.3774
3    MRSA6B     0.00     0.00  ...  4.312820e+09               0.00         0.0103
4     CLAN3     0.00     0.00  ...  1.012240e+09               0.00        -0.6396
..      ...      ...      ...  ...           ...                ...            ...
936   LWSA3    23.00   682.15  ...  6.739730e+08               0.23         0.2450
937   PRBC4    14.54   808.37  ...  1.210880e+09               0.00         0.1160
938  UBBR11    14.75  1201.81  ...  1.031720e+10               0.00         0.1058
939   UBBR3    18.00  1466.61  ...  1.031720e+10               0.00         0.1058
940   DMVF3     8.97  3690.32  ...  8.361590e+08               0.16        -0.1129

[941 rows x 21 columns]

## 2. Analisando os dados coletados

In [8]:
df.shape

(941, 21)

Liquidez diaria dos últimos dois meses maior 1k, empresas com negociação média superior a 1k por dia nos últimos dois meses.

In [9]:
df = df[df['Liq.2meses'] > 1000000]

Excluindo empresas pequenas com baixa negociação da análise.

In [10]:
df.shape

(247, 21)

Listar empresas segundo os critérios, **'pos', 'EV/EBIT', 'ROIC'**

In [11]:
ranking = pd.DataFrame()
ranking['pos'] = range(1,151)
ranking['EV/EBIT'] = df[ df['EV/EBIT'] > 0 ].sort_values(by=['EV/EBIT'])['Papel'][:150].values
ranking['ROIC'] = df.sort_values(by=['ROIC'], ascending=False)['Papel'][:150].values #maior para menor

Exibindo dados ranqueados

In [12]:
ranking

     pos EV/EBIT   ROIC
0      1   PSSA3  WIZS3
1      2   PCAR3  PSSA3
2      3   WIZS3  ODPV3
3      4   MRFG3  MOSI3
4      5   FHER3  CMIN3
..   ...     ...    ...
145  146   JSLG3  CCPR3
146  147   RENT3  RLOG3
147  148   CSAN3  DMVF3
148  149   ELET3  PRIO3
149  150   ELET6  RAIL3

[150 rows x 3 columns]

Formula magica somar os dois rankings, quais empresas tem os melhores valores (empresas melhores classificadas com relação ao preço e relação a qualidade).

In [13]:
a = ranking.pivot_table(columns='EV/EBIT', values='pos')

In [14]:
b = ranking.pivot_table(columns='ROIC', values='pos')

In [15]:
t = pd.concat([a,b])
t

     ABEV3  AGRO3  ALSO3  ALUP11  AMBP3  ...  RADL3  RDOR3  SULA11  TFCO4  WEGE3
pos    103     82  104.0       6    122  ...    NaN    NaN     NaN    NaN    NaN
pos     38     94    NaN      36     58  ...   96.0  134.0   106.0   28.0   19.0

[2 rows x 167 columns]

In [16]:
# descartar as empresas que não tem os dois rank, indicadores EV/EBIT e ROIC
rank = t.dropna(axis=1).sum()
rank

ABEV3     141
AGRO3     176
ALUP11     42
AMBP3     180
ANIM3     230
         ...
VIVA3     197
VIVT3     226
VVAR3     125
WIZS3       4
WSON33     60
Length: 133, dtype: int64

## 3. Resultados

In [17]:
df.describe()

          Cotação          P/L  ...  Dív.Brut/ Patrim.  Cresc. Rec.5a
count  247.000000   247.000000  ...         247.000000     247.000000
mean    23.142996   -38.711700  ...           1.814575       0.304950
std     19.860729   658.004994  ...          10.267169       2.546868
min      0.870000 -5448.940000  ...         -19.030000      -0.515500
25%      9.635000     0.000000  ...           0.175000       0.000000
50%     18.820000    10.920000  ...           0.570000       0.070000
75%     28.600000    25.680000  ...           1.300000       0.175850
max    153.000000  3690.320000  ...         151.270000      39.144300

[8 rows x 20 columns]

In [18]:
df["Liq.2meses"].describe()

count    2.470000e+02
mean     1.312121e+08
std      3.058425e+08
min      1.032290e+06
25%      1.135340e+07
50%      3.748310e+07
75%      1.346920e+08
max      2.931480e+09
Name: Liq.2meses, dtype: float64

In [19]:
df["EV/EBIT"].describe()

count     247.000000
mean       17.893563
std       239.930827
min     -1258.160000
25%         3.800000
50%        10.240000
75%        20.685000
max      3194.580000
Name: EV/EBIT, dtype: float64

In [20]:
df["ROIC"].describe()

count    247.000000
mean       0.079392
std        0.132161
min       -1.131300
25%        0.009400
50%        0.075900
75%        0.121100
max        0.622400
Name: ROIC, dtype: float64

In [21]:
rank.sort_values()[:38]

PSSA3      3
WIZS3      4
MRFG3     13
PLPL3     15
VALE3     20
CMIN3     30
TIET11    33
TIET4     35
BEEF3     36
TASA4     38
TASA3     40
TRPL4     41
ALUP11    42
PCAR3     53
JBSS3     56
SAPR4     57
SAPR3     57
SAPR11    57
LEVE3     58
WSON33    60
UNIP6     61
AURA33    62
TAEE11    65
TAEE3     65
TAEE4     66
LAVV3     69
ASAI3     71
CSNA3     73
EQTL3     74
ODPV3     75
ECOR3     78
EGIE3     81
CSMG3     89
QUAL3     90
CURY3     91
BSEV3     93
FHER3     94
TEND3     96
dtype: int64

In [22]:
rank.shape

(133,)

Remover empresas seguradoras, empresas de bancos.

Distorções quando comparadas empresas do setor financeiro utilizando os multiplos (indicadores EV/EBIT e ROIC).

## 3.1 Resultados

In [23]:
df = df[df['Liq.2meses'] > 1000000000]
df

     Papel  Cotação    P/L  ...   Patrim. Líq  Dív.Brut/ Patrim.  Cresc. Rec.5a
675  BBDC4    26.80  14.37  ...  1.437030e+11               0.00        -0.0927
679  ITUB4    28.07  14.51  ...  1.366990e+11               0.00        -0.2996
749  VALE3    95.53  18.90  ...  1.857850e+11               0.42         0.2086
861  PETR4    23.46  43.05  ...  3.084100e+11               1.27        -0.0013

[4 rows x 21 columns]

In [24]:
df.shape

(4, 21)

In [25]:
df.describe()

         Cotação       P/L  ...  Dív.Brut/ Patrim.  Cresc. Rec.5a
count   4.000000   4.00000  ...           4.000000       4.000000
mean   43.465000  22.70750  ...           0.422500      -0.046250
std    34.764409  13.72379  ...           0.598686       0.210802
min    23.460000  14.37000  ...           0.000000      -0.299600
25%    25.965000  14.47500  ...           0.000000      -0.144425
50%    27.435000  16.70500  ...           0.210000      -0.047000
75%    44.935000  24.93750  ...           0.632500       0.051175
max    95.530000  43.05000  ...           1.270000       0.208600

[8 rows x 20 columns]

## 4. Observações

**Empresas baratas Brasileiras**

*Empresas que estejam valendo pouco comparadas ao tanto que ela gera de caixa.*

O EV/EBIT é um indicador financeiro que compara o Valor da Firma (EV ou Enterprise Value) com o Lucro Antes de Impostos e Taxas, o EBIT.

A principal função do EV/EBIT é ajudar a identificar quanto uma empresa custa em relação ao que ela produz a partir de sua atividade fim.

**EV/EBIT**

EV ---> Valor da Firma
Valor da Firma ---> Valor de mercado + Dív. Líquida

*Valor de mercado ---> Valor Ação (Cotação ou Preço atual) * Nro. de Ações emitidas*

EBIT ---> Lucro Líquido + Resultado Financeiro + Impostos

EV/EBIT ---> Valor de mercado (EV) / Lucro Antes de Juros e Impostos (EBIT)

É importante destacar que na fórmula EV/EBIT, o EV representa o valor de mercado da empresa somado à sua dívida líquida. Enquanto isso, o EBIT representa o nível de lucro operacional que a empresa produz em seu tamanho atual.

Nesse sentido, o EV/EBIT permite saber qual o potencial de geração de lucros de uma companhia. Vale lembrar que, para fins comparativos, ele deve ser utilizado apenas entre empresas do mesmo setor e, de preferência, que sejam concorrentes diretas.

**Exemplo:**

Uma empresa “A” e uma empresa “B” possuem, respectivamente, um EV/EBIT de 9,2 vezes e 8,9 vezes, seria possível afirmar que:

A empresa “A” está mais valorizada e melhor avaliada no mercado, podendo ser a melhor opção para a venda;

A empresa “B” está mais desvalorizada e pior avaliada no mercado, podendo ser a melhor opção para a compra.

Quando o EV/EBIT está elevado, existe uma indicação de que a empresa possui uma boa avaliação no mercado. Consequentemente, isso significa que suas ações estão valorizadas.

Enquanto isso, um EV/EBIT baixo demonstra que a empresa está sendo subavaliada. Com isso, possuem uma forte tendência de valorização ao longo do tempo, tornando a ação mais atrativa para a compra.

**Empresas boas Brasileiras**

O ROIC (Return Over Invested Capital), ou Retorno sobre o Capital Investido, é uma métrica utilizada para informar, em termos percentuais, quanto dinheiro uma empresa consegue gerar em razão do capital investido.

Com o ROIC, é possível ter uma visão geral sobre a performance financeira de um negócio.

**ROIC**

NOPAT ---> representa o lucro operacional após a distribuição de dividendos entre os acionistas

Valor Contábil ---> é a soma de todo capital investido na empresa.

ROIC ---> NOPAT / Valor Contábil

**Exemplo de uma empresa:**

Lucro Operacional: R$20 milhões

Valor Contábil do Capital Investido: R$80 milhões

Dividendos: R$5 milhões

NOPAT dessa empresa é igual a R$15 milhões

ROIC ---> 15.000.000 / 80.000.000 = 18,75%

(Lucro Operacional - Dividendos) / Valor Contábil do Capital Investido = ROIC

O parâmetro para avaliar se esse percentual é elevado ou não será o histórico da empresa e de suas concorrentes do mesmo setor.

Vale ressaltar que esse é um dado bem relevante pois demonstra o retorno sobre capital investido na empresa, mostrando muitas vezes qual companhia pode utilizar de forma mais eficiente o capital captado através de empréstimos, financiamentos ou acionistas.

Por conta dessas características, o ROIC é um dos indicadores financeiros mais utilizados por investidores na análise fundamentalista de ações.

Pois, muitos investidores acabam utilizando esse indicador na decisão sobre qual empresa realizar um investimento.