**Capitulo 15**: Através da linguagem de programação PYTHON e da ferramenta online Google Colab fazer estudos do mercado financeiro.

Objetivo: Baixa as cotaçãos históricas de todas as empresas que compoem o Índice Bosvespa e as salvo em uma planilha do google.

## 1. Instalando gspread

In [ ]:
!pip install gspread

## 2. Importando as Bibliotecas

In [2]:
from google.colab import auth
import gspread
from oauth2client.client import GoogleCredentials

## 3. Realizando a Autenticação

In [3]:
auth.authenticate_user()
gc = gspread.authorize(GoogleCredentials.get_application_default())

## 4. Criando uma planilha vazia

In [4]:
gc.create('Carteira') #Nome da planilha

## 5. Abrindo uma Planilha

In [5]:
plan_carteira = gc.open('Carteira') #Acessando Planilha

## Salvando cotações do Yahoo Finance

  * Adicionando uma página à planilha

In [7]:
plan_carteira.add_worksheet('Cotações Yahoo', 5500, 71) #Adicionar pagina, linhas e colunas

  * Instalando o YFinance

In [8]:
!pip install yfinance

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/a7/ee/315752b9ef281ba83c62aa7ec2e2074f85223da6e7e74efb4d3e11c0f510/yfinance-0.1.59.tar.gz
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading https://files.pythonhosted.org/packages/cf/4d/6537313bf58fe22b508f08cf3eb86b29b6f9edf68e00454224539421073b/lxml-4.6.3-cp37-cp37m-manylinux1_x86_64.whl (5.5MB)
     |████████████████████████████████| 5.5MB 19.4MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.59-py2.py3-none-any.whl size=23442 sha256=66bd9b5590d097b5f30c901425d709db3110cf71f372ddc4dd03cd369e70de70
  Stored in directory: /root/.cache/pip/wheels/f8/2a/0f/4b5a86e1d52e451757eb6bc17fd899629f0925c777741b6d04
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.59

In [9]:
import yfinance as yf

In [10]:
tickers_ibov = "ABEV3.SA AZUL4.SA B3SA3.SA BBAS3.SA BBDC4.SA BBSE3.SA BPAC11.SA BRAP4.SA BRDT3.SA BRFS3.SA BRKM5.SA BRML3.SA BTOW3.SA CCRO3.SA CIEL3.SA CMIG4.SA COGN3.SA CRFB3.SA CSAN3.SA CSNA3.SA CVCB3.SA CYRE3.SA ECOR3.SA EGIE3.SA ELET6.SA EMBR3.SA ENBR3.SA EQTL3.SA FLRY3.SA GGBR4.SA GNDI3.SA GOAU4.SA GOLL4.SA HAPV3.SA HGTX3.SA HYPE3.SA IGTA3.SA IRBR3.SA ITSA4.SA ITUB4.SA JBSS3.SA KLBN11.SA LAME4.SA LREN3.SA MGLU3.SA MRFG3.SA MRVE3.SA MULT3.SA NTCO3.SA PCAR4.SA PETR4.SA QUAL3.SA RADL3.SA RAIL3.SA RENT3.SA SANB11.SA SBSP3.SA SMLS3.SA SULA11.SA SUZB3.SA TAEE11.SA TIMP3.SA TOTS3.SA UGPA3.SA USIM5.SA VALE3.SA VIVT4.SA VVAR3.SA WEGE3.SA YDUQ3.SA"

In [11]:
dados_yf = yf.download(tickers=tickers_ibov, period='5y')["Adj Close"]

[*********************100%***********************]  70 of 70 completed

3 Failed downloads:
- VIVT4.SA: No data found, symbol may be delisted
- PCAR4.SA: No data found, symbol may be delisted
- TIMP3.SA: No data found, symbol may be delisted

  * Selecionando a página criada

In [12]:
pagina_yahoo = plan_carteira.get_worksheet(1)

  * Instalando a biblioteca gspread-dataframe

In [13]:
!pip install gspread-dataframe

Requirement already satisfied: gspread-dataframe in /usr/local/lib/python3.7/dist-packages (3.0.8)
Requirement already satisfied: pandas>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from gspread-dataframe) (1.1.5)
Requirement already satisfied: gspread>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from gspread-dataframe) (3.0.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.14.0->gspread-dataframe) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.14.0->gspread-dataframe) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.14.0->gspread-dataframe) (1.19.5)
Requirement already satisfied: requests>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from gspread>=3.0.0->gspread-dataframe) (2.23.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.14.0->gspread-dataframe) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.2.1->gspread>=3.0.0->gspread-dataframe) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.2.1->gspread>=3.0.0->gspread-dataframe) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.2.1->gspread>=3.0.0->gspread-dataframe) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.2.1->gspread>=3.0.0->gspread-dataframe) (2020.12.5)

In [14]:
from gspread_dataframe import get_as_dataframe, set_with_dataframe

  * Preenchendo os dados na planilha

In [34]:
set_with_dataframe(pagina_yahoo, dados_yf, include_index=True)

## Carteira de Ações

  * Adicionando uma página à planilha

In [16]:
plan_carteira.add_worksheet('Cotações Carteira', 1500, 71) #Adicionar pagina, linhas e colunas

In [18]:
#tickers = "VVAR3.SA PSSA3.SA BBSE3.SA SULA11.SA B3SA3.SA MRFG3.SA BRFS3.SA SQIA3.SA CCRO3.SA KLBN4.SA SUZB3.SA CSAN3.SA"

tickers_carteira = "PETR3.SA PRIO3.SA BBDC4.SA ITUB4.SA BBAS3.SA BIDI4.SA ITSA4.SA VALE3.SA MGLU3.SA MDIA3.SA ALPA4.SA WEGE3.SA TAEE11.SA TRPL4.SA ALUP11.SA EGIE3.SA EQTL3.SA ENGI11.SA SAPR11.SA MRVE3.SA EZTC3.SA TRIS3.SA ABEV3.SA QUAL3.SA FLRY3.SA RADL3.SA HYPE3.SA GNDI3.SA HAPV3.SA VIVT3.SA RENT3.SA RAIL3.SA JBSS3.SA LWSA3.SA TOTS3.SA UNIP6.SA NTCO3.SA"

In [19]:
dados_yf = yf.download(tickers=tickers_carteira, period='5y')["Adj Close"]

[*********************100%***********************]  37 of 37 completed

  * Selecionando a página criada

In [20]:
carteria_yahoo = plan_carteira.get_worksheet(2)

In [33]:
set_with_dataframe(carteria_yahoo, dados_yf, include_index=True)

* Criando um DataFrame Pandas com uma planilha do Google Planilhas

In [22]:
import pandas as pd

In [35]:
plan_carteira = gc.open('Carteira') #Acessando Planilha

So if you want to retrieve other sheets, you need to use other methods like:

1.specify index as a integer indicating the position of the sheet to open starting from 0:

wks = gc.open("doc_name").get_worksheet(index)

or

2.specify title of the sheet to open as a string:

wks = gc.open("doc_name").worksheet(title)

That is to say, in you case, to get sheet2 you can probably use

wks = gc.open("doc_name").get_worksheet(1)

In [38]:
wks = plan_carteira.get_worksheet(2)

In [39]:
carteira = pd.DataFrame(wks.get_all_records()) #nomeplanilha.numerodaplanilha.todosregistros
#carteira.set_index('Cod', inplace=True)

carteira

                     Date ABEV3.SA ALPA4.SA  ... VALE3.SA VIVT3.SA WEGE3.SA
0     2016-04-18 00:00:00    16.39     6.48  ...    15.59     25.3     9.93
1     2016-04-19 00:00:00    16.53     6.48  ...    16.75    24.78    10.02
2     2016-04-20 00:00:00     16.6     6.57  ...    17.81    24.45     9.92
3     2016-04-22 00:00:00    16.57     6.45  ...    15.82    24.67    10.02
4     2016-04-25 00:00:00    16.54     6.31  ...    14.78    23.82     9.99
...                   ...      ...      ...  ...      ...      ...      ...
1239  2021-04-12 00:00:00    15.51       38  ...    103.4    43.81    75.51
1240  2021-04-13 00:00:00    15.63    38.27  ...   103.58    43.52    74.98
1241  2021-04-14 00:00:00    15.81    37.64  ...      107     43.8    76.23
1242  2021-04-15 00:00:00    15.87    38.07  ...   108.21    43.81     78.3
1243  2021-04-16 00:00:00     15.8    38.15  ...   108.67    44.14    77.05

[1244 rows x 38 columns]

## Dados Fundamentalistas

Baixar dados de fundamentos das empresas

In [40]:
plan_carteira.add_worksheet('fundamentus', 500, 20)

In [41]:
pagina_fundamentus = plan_carteira.get_worksheet(3)

In [53]:
url = 'https://www.fundamentus.com.br/resultado.php'

In [60]:
import pandas as pd
import requests

header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

r = requests.get(url, headers=header)
dfs = pd.read_html(r.text)
df = pd.concat(dfs)
df.head()

    Papel  Cotação  P/L  ...      Patrim. Líq  Dív.Brut/ Patrim. Cresc. Rec.5a
0   IVTT3      0.0  0.0  ...  1.083.050.00000                0.0        20,67%
1  MRSA6B      0.0  0.0  ...  4.312.820.00000                0.0         1,03%
2  EQMA6B      0.0  0.0  ...  2.997.240.00000                0.0         7,29%
3   MNSA4     47.0  0.0  ...     -9.105.00000             -652.0       -41,11%
4   VSPT4      0.0  0.0  ...  5.139.110.00000                0.0        11,25%

[5 rows x 21 columns]

In [63]:
#df = pd.read_html(url, decimal=',', thousands='.')[0]
df = pd.read_html(r.text, decimal=',', thousands='.')[0]

In [67]:
print(df)

      Papel  Cotação      P/L  ...   Patrim. Líq  Dív.Brut/ Patrim. Cresc. Rec.5a
0     IVTT3     0.00     0.00  ...  1.083050e+09               0.00        20,67%
1    MRSA6B     0.00     0.00  ...  4.312820e+09               0.00         1,03%
2    EQMA6B     0.00     0.00  ...  2.997240e+09               0.00         7,29%
3     MNSA4     0.47     0.00  ... -9.105000e+06              -6.52       -41,11%
4     VSPT4     0.00     0.00  ...  5.139110e+09               0.00        11,25%
..      ...      ...      ...  ...           ...                ...           ...
938   LWSA3    26.94   799.00  ...  6.739730e+08               0.23        24,50%
939   PRBC4    14.54   808.37  ...  1.210880e+09               0.00        11,60%
940  UBBR11    14.75  1201.81  ...  1.031720e+10               0.00        10,58%
941   UBBR3    18.00  1466.61  ...  1.031720e+10               0.00        10,58%
942   DMVF3     9.25  3805.51  ...  8.361590e+08               0.16       -11,29%

[943 rows x 21 columns]

In [ ]:
set_with_dataframe(pagina_fundamentus, df)